:root{
    --shadow: rgb(0,0,0,0.5);
}

body{
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: black;
}


/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
    box-shadow: 0 5px 5px 5px var(--shadow);
}

h1{
    font-size: 2rem;
}


/* Main Body */
main{
    display: flex;
    flex-direction: row;
}

/* Search Area */
.search-area{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 30%;
}

.searchbox{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 2px solid grey;
}

.searchbox label{
    font-size: 1.25rem;
    margin-left: .25rem;
}

.searchcard{
    display: flex;
    flex-direction: row;
    padding-bottom: .5rem;
}

.form-custom{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.formbtn-custom{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: navy;
    color: antiquewhite;
}

.formbtn-custom:hover{
    background-color: rgb(108, 108, 108);
}

.search-hostory{
    overflow-y: scroll;
}

/* Results */

.results-section{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    padding: 1rem;
    gap: 1rem;
}

/* Current Box */
.current-box{
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: .5rem;
    border: 2px solid grey;
    border-radius: 5px;
}

.titleBox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* h2{
    margin-bottom: 1rem;
} */

.forecast-five{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.forecast-five{
    display: flex;
    flex-direction: row;
}