:root{
    --shadow: rgb(0,0,0,0.5);
}

body{
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: black;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
    box-shadow: 0 5px 5px 5px var(--shadow);
}

h1{
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: row;
}

.search-area{
    display: flex;
    flex-direction: column;
    padding: .5rem;
}