:root{
    --shadow: rgb(0,0,0,0.5);
}

body{
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: black;
}

ul{
    padding: 0;
}


/* Header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
    box-shadow: 0 5px 5px 5px var(--shadow);
}

h1{
    font-size: 2rem;
}


/* Main Body */
main{
    display: flex;
    flex-direction: row;
}

/* Search Area */
.search-area{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 30%;
}

.searchbox{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 2px solid grey;
}

.searchbox label{
    font-size: 1.25rem;
    margin-left: .25rem;
}

.searchcard{
    display: flex;
    flex-direction: row;
    padding-bottom: .5rem;
}

.form-custom{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.formbtn-custom{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: navy;
    color: antiquewhite;
}

.formbtn-custom:hover{
    /* background-color: rgb(108, 108, 108); */
    background-color: grey;
    outline: none;
    box-shadow: none;
}

.formbtn-custom:active{
    background-color: navy;
}

.formbtn-custom:focus{
    background-color: navy;
    outline: none;
    box-shadow: none;
}

/* -History */

.search-history{
    display: flex;
    flex-direction: column;
}

.clear{
    display: flex;
    align-self: end;
    color: grey;
    margin-bottom: 0;
}

.clear:hover{
    cursor: pointer;
    color: navy;
}

.clear:active{
    cursor: pointer;
    color: grey;
}

.search-history{
    overflow-y: scroll;
}

.history-ul{
    display: flex;
    flex-direction: column;

    gap: .25rem;
    /* margin-top: .5rem; */
    align-items: start;
}

.history-li{
    padding: .25rem 1rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    color: whitesmoke;
    border-radius: 25px;
    /* font-size: .75rem; */
    gap: 1.5rem;
    min-width: 90%;
}

.history-li:hover{
    cursor: pointer;
    background-color: grey;
}

.liClose{
    padding: .25rem;
}

.liClose:hover{
    color: red;
}

.liClose:hover .history-li{
    background-color: navy;
}

.history-li:active{
    cursor: pointer;
    background-color: navy;
}

/* Results */

.results-section{
    display: flex;
    flex-direction: column;
    min-width: 70%;
    padding: 1rem;
    gap: 1rem;
}

/* Current Box */
.current-box{
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: .5rem;
    border: 2px solid grey;
    border-radius: 5px;
}

.nameBox{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.titleBox {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

/* .cIcon{
    margin-bottom: 1rem;
} */

/* h2{
    margin-bottom: 1rem;
} */

/* .forecast-five{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
} */

.forecast-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}

.forecast-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
    margin: 0;
}

.ffLi{
    background-color: navy;
    color: whitesmoke;
    padding: .5rem 2.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
}
.fIcon{
    align-self: center;
}

h4{
    font-size: 1.25rem;
}

h5 {
    font-size: 1rem;
}

.ffLi p{
    font-size: .75rem;
}



/*  */
.nv{
    display: none;
}